<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>

<% @restaurants.each do |r| %>
  <%# raise %>
  <h2><%= r.name.titleize %></h2>
  <p><%= r.description %></p>
  <p><% r.tag_list.each do |tag| %>
    <%= link_to tag, tagged_path(tag: tag) %>
  <% end %></p>
<% end %>


<h2>Most used tags</h2>

<% ActsAsTaggableOn::Tag.most_used(3).each do |tag| %>
  <p><%= link_to tag.name, tagged_path(tag: tag.name) %></p>
  <%# raise %>
<% end %>

<%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-inline' } do |f| %>
  <p>Name</p>
  <%= f.input :name, input_html: {value: "", placeholder: "HEYY"} %>
  <%= f.submit "Search", class: "btn btn-primary" %>
<% end %>
















