<p id="notice"><%= notice %></p>




<h1><%= @restaurant.name.titleize %> <%= @restaurant.id %></h1>

<%= link_to @restaurant.arrondissement_list.first, tagged_path(tag: @restaurant.arrondissement_list.first) %>

  <%# if arr < 2 %>
    <p><%#= link_to "#{arr}er arrondissement", tagged_path(tag: arr) %>
  <%# else %>
    <p><%#= link_to "#{arr}ème arrondissement", tagged_path(tag: arr) %>
  <%# end %>

<%# end %>


<p><%= @restaurant.description %></p>



<ul>
  <% if @restaurant.tag_list.length > 0 %>
    <% if @restaurant.tag_list.length > 3 %>
      <% @restaurant.tag_list.sample(3).each do |tag| %>
        <li><%= link_to tag, tagged_path(tag: tag) %></li>
      <% end %>
    <% else %>
      <% @restaurant.tag_list.each do |tag| %>
          <li><%= link_to tag, tagged_path(tag: tag) %></li>
      <% end %>
    <% end %>
  <% else %>
      <p>Pas encore de tag pour ce restaurant</p>
  <% end %>
</ul>



<br><br>


<% if @related_restaurants.any? %>
  <p>Vous aimerez aussi...</p>
<% end %>


<ul>
  <% @related_restaurants.sample(3).each do |r| %>
    <li><%= link_to r.name, restaurant_path(r) %></li>
  <% end %>
</ul>



<p>Dans le même quartier</p>

<ul>
  <% @restaurants.each do |r| %>
    <% if !r.arrondissement.nil? %>
      <% if r.arrondissement == @restaurant.arrondissement && r.id != @restaurant.id %>
        <li><%= link_to r.name, restaurant_path(r) %></li>
      <% end %>
    <% end %>
  <% end %>
</ul>


<%= link_to 'home', restaurants_path %>

