<p id="notice"><%= notice %></p>




<h1><%= @restaurant.name.titleize %></h1>
<p><%=  @restaurant.id %></p>
<p><%= @restaurant.description %></p>



<ul>
  <% if @restaurant.tag_list.length > 0 %>
    <% if @restaurant.tag_list.length > 3 %>
      <% @restaurant.tag_list.each do |tag| %>
        <li><%= link_to tag, tagged_path(tag: tag) %></li>
      <% end %>
    <% else %>
      <% @restaurant.tag_list.each do |tag| %>
          <li><%= link_to tag, tagged_path(tag: tag) %></li>
      <% end %>
    <% end %>
  <% else %>
      <p>Pas encore de tag pour ce restaurant</p>
  <% end %>
</ul>



<br><br>



<p>Vous aimerez aussi...</p>

<ul>
  <% @related_restaurants.sample(3).each do |r| %>
    <li><%= link_to r.name, restaurant_path(r) %></li>
  <% end %>
</ul>

<p>Dans le même quartier</p>

<ul>
  <% @related_restaurants.each do |r| %>
    <% if !r.arrondissement.nil? %>
      <% if r.arrondissement = @restaurant.arrondissement %>
        <li><%= link_to r.name, restaurant_path(r) %></li>
      <% end %>
    <% end %>
  <% end %>
</ul>


<%= link_to 'home', restaurants_path %>

